{{ $file := .Get "file" }}
{{ $code := "" }}
{{ $code = $.Inner }}
{{ $langs := (slice "yaml" "toml" "json") }}
<div class="code relative" {{ with $file }}id="{{ . | urlize}}"{{ end }}>
  <div class="code-nav flex flex-nowrap items-stretch">
    {{- with $file -}}
    <div class="san-serif f6 dib lh-solid pl2 pv2 mr2">{{ . }}.</div>
    {{- end -}}
    {{ range $langs }}
    <button data-toggle-tab="{{ . }}" class="tab-button {{ cond (eq . "yaml") "active" ""}} ba san-serif f6 dib lh-solid ph2 pv2">{{ . }}</button>&nbsp;
    {{ end }}
  </div>
  <div class="tab-content">
    {{ range $langs }}
    <div data-pane="{{ . }}" class="code-copy-content nt3 tab-pane {{ cond (eq . "yaml") "active" ""}}">
      {{ highlight ($code | transform.Remarshal . | safeHTML) . ""}}
    </div>
    {{ end }}
  </div>
</div>
